{% set node = props[0] %}

<div {{ fission().nodeRoot(node) }}>
    <figure>
        {{ component("Flammel.FissionDemoVm:Content.Image", {
            "asset": node.prop("image"),
            "alt": node.prop("alternativeText"),
            "title": node.prop("title"),
            "width": 200,
            "height": 200
        }) }}
        {% if node.prop("caption") %}
            <figcaption>
                {{ component("Neos.Neos:Editable", node, "caption") }}
            </figcaption>
        {% endif %}
    </figure>
</div>
