{% set node = props["node"] %}

<div {{ fission().nodeRoot(node) }}>
    <figure>
        {{ component("Flammel.FissionDemoVm:Content.Image",
            asset = node.prop("image"),
            alt = node.prop("alternativeText"),
            title = node.prop("title"),
            width = props.width|default(200),
            height = props.height|default(200)
        ) }}
        {% if node.prop("caption") %}
            <figcaption>
                {{ component("Neos.Neos:Editable", node=node, property="caption") }}
            </figcaption>
        {% endif %}
    </figure>
</div>
