{{ props("node") }}
<div {{ nodeRoot(this.node) }}>
    <figure>
        {{ component("Flammel.FissionDemoVm:Content.Image", {
            "asset": this.node.prop("image"),
            "alt": this.node.prop("alternativeText"),
            "title": this.node.prop("title"),
            "width": 200,
            "height": 200
        }) }}
        {% if this.node.prop("caption") %}
            <figcaption>
                {{ component("Neos.Neos:Editable", this.node, "caption") }}
            </figcaption>
        {% endif %}
    </figure>
</div>
