{% set documentNode = props.node %}

{% component "Flammel.FissionDemoVm:Layout.Layout" with {"documentNode": documentNode} %}
    {% fill "title" %}
        {{ documentNode.prop("title") }}
    {% endfill %}
    {% fill "main" %}
        {{ component("Flammel.FissionDemoVm:Layout.Navbar", documentNode=documentNode) }}
        <div class="container-fluid">
            {{ node(documentNode.child("main")) }}
        </div>
    {% endfill %}
{% endcomponent %}
