{% set node = props[0] %}

{% component "Flammel.FissionDemoVm:Layout.Layout" %}
    {% fill "title" %}
        {{ node.prop("title") }}
    {% endfill %}
    {% fill "main" %}
        {{ component("Flammel.FissionDemoVm:Layout.Navbar") }}
        <div class="container-fluid">
            {{ node(node.child("main")) }}
        </div>
    {% endfill %}
{% endcomponent %}
