{% set node = props[0] %}

<div {{ fission().nodeRoot(node) }}>
    {{ component("Neos.NodeTypes:Image", node) }}
    {% component "Neos.Neos:Editable" with {"node": node, "property": "text", "isBlock": true} %}
        {% fill "frontend" %}
            <p>{{ parent.value }}</p>
        {% endfill %}
    {% endcomponent %}
</div>
