{% set node = props[0] %}
{% set additionalClass = props[1]|default("") %}

<div class="neos-contentcollection {{ additionalClass }}" {{ fission().nodeRoot(node) }}>
    {% for item in node.children %}
        {{ node(item) }}
    {% endfor %}
</div>
