{% set node = props["node"] %}
{% set additionalClass = props["additionalClass"]|default("") %}

<div class="neos-contentcollection {{ additionalClass }}" {{ fission().nodeRoot(node) }}>
    {% for item in node.children %}
        {{ node(item) }}
    {% endfor %}
</div>
