{% set node = props.node %}

<div {{ fission().nodeRoot(node) }}>
    <ul>
        {% for asset in node.prop("assets") %}
            <li>
                <a href="{{ fission().resourceUri(asset.resource) }}">{{ asset.resource.filename }}</a>
            </li>
        {% else %}
            {% if fission().backend().active %}
                <li>{{ fission().translate("content.emptyAssetList", "Neos.NodeTypes.AssetList", "NodeTypes/AssetList") }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
